.blog-wrapper {
    margin: 2% 10%;
    opacity: 0;

    .blog-container {
        width: 100%;
        min-height: 200px;

        .blog-item {
            height: 100%;
            width: 31%;
            margin-right: 1%;
            padding: 1%;
            float: left;
            background-color: $secondary-color;
            border-radius: 2px;

            h3.blog-item__title {
                margin: 0 0 8px;
                font-size: 1.5rem;
            }

            &__date {
                font-size: 0.8rem;
            }

            hr {
                border: 1px solid $primary-color;
                opacity: 0.5;
            }

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:hover {
                // cursor: pointer;
                border: none;
                box-shadow: 0 0 20px 2px #e8e8e8;
            }
        }
    }

    .blog__section-title {
        font-size: 3rem;
        color: $primary-color;
        font-weight: 100;
    }
}

@media (max-width: 576px) {
    .blog-container .blog-item {
        width: 100% !important;
        padding: 2% !important;
    }
}