.footer-wrapper {
    margin-top: 5%;
    opacity: 0;

    .footer-container {
        padding: 1%;
        background-color: $primary-color;
        color: $secondary-color;
    }

    .footer-title {
        font-size: 2rem;
    }

    .copyright {
        font-size: 0.75rem;
        margin-top: .75%;
    }

    p {
        margin: 0;
    }

    a {
        color: $secondary-color;
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    .footer-wrapper {

        .footer-container {
            .footer-title {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .footer-wrapper {

        .footer-container {
            .copyright {
                font-size: 0.5rem;
            }
        }
    }
}