.header {
    height: 100vh;
    width: 100%;
    background-image: url("../image/teacher-banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;

    &__mask {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }

    &-nav {
        list-style-type: none;
        font-size: 1.25rem;
        position: absolute;
        top: 35%;
        right: 0;
        margin: 0;
        padding: 0;
        display: none;

        li {
            background-color: rgba(182,103,231,0.65);
            width: 50px;
            height: 50px;
            line-height: 50px;
            transition: all 0.3s;
            text-align: center;
            float: right;
            display: block;
            clear: both;
            overflow: hidden;
            margin-bottom: 1px;

            &:hover {
                background-color: rgba(255,255,255,0.3);
                width: 125px;
                border-left: 4px solid $secondary-color;
                
                span {
                    display: inline-block !important;
                }

                .header-nav__icon {
                    display: none;
                }
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $secondary-color;
            }
        }

        &__mobile {
            display: block;
            position: absolute;
            top: 15px;
            right: 18px;
            width: 50px;
            height: 50px;
            // z-index: 999;

            &-bar {
                position: relative;
                height: 5px;
                width: 100%;
                background-color: $secondary-color;
                transition: all 0.5s;

                &:first-child {
                    top: 0;

                    // &.open {
                    //     transform: rotate(45deg);
                    //     top: 16px;
                    // }
                }

                &:nth-child(2) {
                    top: 8px;

                    // &.open {
                    //     opacity: 0;
                    // }
                }

                &:last-child {
                    top: 16px;

                    // &.open {
                    //     transform: rotate(-45deg);
                    //     top: 6px;
                    // }
                }
            }

            &-list {
                height: 100%;
                width: 0;
                position: fixed;
                overflow-x: hidden;
                transition: all 0.5s;
                top: 0;
                right: 0;
                background-color: $secondary-color;
                z-index: 998;

                // &.open-nav {
                //     transition: all 0.5s;
                //     width: 80%;
                // }

                &--close {
                    position: absolute; 
                    top: 5px; right: 8px; 
                    font-size: 2rem; 
                    font-weight: bold; 
                    color: $primary-color;
                }

                ul {
                    margin: 65px 0 0;
                    padding: 0;

                    li {
                        padding: 10px;
                        // background-color: $primary-color;
                        // border-bottom: 1px solid $primary-color;

                        a {
                            color: $primary-color;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    &__content {
        color: $secondary-color;
        position: fixed;
        top: 12px;
        left: 6px; 

        &__title {
            font-size: 5rem;
            text-transform: uppercase;
            line-height: 0.7;
            margin: 0;
            font-weight: 100;
        }

        &__sub-title {
            text-transform: initial;
            font-size: 2.5rem;
            padding-left: 6px;
            margin-top: 0;

            sup {
                font-size: 1.5rem;
            }
        }
    }

    .down-arrow {
        color: $secondary-color;
        position: absolute;
        left: 50%;
        bottom: -6%;
        width: auto;
        text-align: center;
        opacity: 0.65;
        -webkit-animation-name: bounce;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-iteration-count: 6;
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-iteration-count: 6;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50% , -50%);

        img {
            width: 100px;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

@media (min-width: 992px) {
    .header-nav {
        display: block;
    }

    .header-nav__mobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .text-block__column-container {
        padding-left: 0 !important;
    }

    .text-block__column-container .text-block__column ul li a {
        font-size: 1rem !important;
    }

    .header-content {
        top: 1.1%;
        left: 0.8%;
    }
}

@media (min-width: 569px) and (max-width: 991px) {
    .header-nav__mobile {
        right: 30px;
    }
}

@media (max-width: 768px) {
    .carousel {
        padding: 0 25px;
    }

    .header__content__title {
        font-size: 4rem;
    }

    .header__content__sub-title {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .header {

        .carousel__slide-quote {
            font-size: 1.65rem;
        }

        .carousel__slide-author {
            font-size: 1.1rem;
        }

        .header__content__title {
            font-size: 2rem;
        }

        .header__content__sub-title {
            padding-left: 2px;
            font-size: 1.1rem;

            sup {
                font-size: 0.5rem;
            }
        }

        .header-nav__mobile {
            top: 12px;
            right: -5px;

            &-bar {
                height: 2px;
                width: 30px;
            }
        }

        .header-nav__mobile-list--close {
            right: 15px;
            font-size: 1.5rem;
        }

        .down-arrow  {
            bottom: -1%;

            img {
                width: 50px;
            }
        }
    }
}