.separator-wrapper {
    opacity: 0;

    .separator {
        width: 25%;
        border: 1px solid $gray-light;
        display: inline-block;
    }
}

@media (max-width: 568px) {
    .separator-wrapper .separator {
        width: 55%;
    }
}