@import "custom";
@import "header";
@import "carousel";
@import "text-block";
@import "three-column";
@import "separator";
@import "blog";
@import "footer";
@import "keyframes";

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, 
html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: $dark-gray;
    font-family: 'Open Sans Condensed', sans-serif;
}

.text-center {
    text-align: center;
}

.clearfix {
    clear: both;
}

.display-none {
    display: none;
}